.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.3);
    transition: transform 0.3s ease-out; /* Add this line */
}

.card:hover {
    transform: translateY(-10px);
    cursor: pointer
}

.card-title {
    font-size: 30px;
}

.card-rating {
    font-size: 20px;
    color: gray;
}

.icons{
    display:flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
}



.like-icon-container {
    position: relative;
    margin-left:auto;
    margin-right:5px;
}

.like-overlay-text {
    display: none; /* Initially hide the text */
    position: absolute;
    top: 20px;
    left: 0;
    background-color: gray;
    color:white;
    font-size:15px;
    opacity:50%;
    padding: 5px;
    white-space: nowrap;
}

.like-icon-container:hover .like-overlay-text {
    display: block; /* Show the text on hover */
}

.watch-icon-container {
    position: relative;
    margin-right:auto;
    margin-left:5px;
}

.watch-overlay-text {
    display: none; /* Initially hide the text */
    position: absolute;
    top: 20px;
    left: 0;
    background-color: gray;
    opacity:50%;
    color:white;
    font-size:15px;
    padding: 5px;
    white-space: nowrap;
}

.watch-icon-container:hover .watch-overlay-text {
    display: block; /* Show the text on hover */
}
