.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.3);
}

.card:hover {
    transform: translateY(-10px);
    cursor: pointer
}

.card-title {
    font-size: 30px;
}

.card-rating {
    font-size: 15px;
    color: gray;
}

.icons{
    display:flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
}

#like-icon{
    margin-left:auto;
    margin-right:5px;
}

#watch-icon{
    margin-right:auto;
    margin-left:5px;
}
