.App {
  text-align: center;
  align-items: center;
  display:flex;
  flex-direction:column;
  width:100vw;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
  width: calc(100vw - 40px);
}

h1{
  font-size: 50px;
}



.subheader{
  align-items:center;
  display:flex;
  justify-content: center;
  width:60%;
}

.search-bar{
  margin-right:5%;
}

.sort-bar{
  margin-left:5%;
}

.sort-bar:hover{
  cursor:pointer;
}

body{
  display:flex;
  align-items:center;
}

.movie-container{
  display:flex;
  width:90%;
  margin-right:auto;
  margin-left:auto;
  align-items:center;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

footer{
  background-color: #282c34;
  color: white;
  padding: 20px;
  width: 100%;

  display:flex;
  flex-direction:column;
  justify-content: right;
  text-align: right;
}

a{
  color:red;
}

.footer-content{
  margin:2px;
  margin-right: 5%;
}
